* {
   box-sizing: border-box;
   font-family: 'Oxygen', sans-serif;
}

body {
   margin: 0;
   background: rgb(21,142,218);
   background: linear-gradient(rgba(21,152,218,1) 15%, rgba(36,215,250,1) 48%, rgba(90,227,222,1) 78%);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: #de3c3c solid 1px;
}

header {
   display: flex;
   align-items: center;
   padding: 0 2vw;
   width: 100vw;
   height: 80px;
}

h1 {
   text-align: center;
   color: white;
   font-size: 3rem;
   margin: 0 2vw;
}

#search-bar {
   display: flex;
}

#search-btn {
   border: 0;
   border-radius: 0 5px 5px 0;
   background-color: #de3c3c;
   color: white;
   width: 100px;
   height: 2.5rem;
   font-size: 1.2rem;
}

.search {
   width: 70vw;
   max-width: 450px;
   height: 2.5rem;
   font-size: 1.2rem;
}

#input-bar {
   border: 0;
   padding: 20px;
   border-radius: 5px 0 0 5px;
}

#search-container {
   position: absolute;
}

.suggestion{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}

.suggestion:hover {
   background-color: #eaeaea;
}

#weather-grid {
   width: 100vw;
   height: calc(100vh - 80px);
   display: grid;
}

.card {
   background-color: white;
   text-align: center;
   border-radius: 30px;
}

@media only screen and (max-width: 1040px) {
   header {
      flex-direction: column;
      justify-content: center;
   }

   h1 {
      margin-bottom: 16px;
   }
 }