* {
   box-sizing: border-box;
   font-family: 'Oxygen', sans-serif;
}

body {
   margin: 0;
   background: #edeeef;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: #3242af solid 1px;
}

header {
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   padding: 1vw 2vw;
   border-bottom: 8px solid #56566c;
   width: 100vw;
}

h1 {
   text-align: center;
   color: #313134;
   font-size: 3rem;
   margin: 10px 2vw;
}

#search-bar {
   display: flex;
}

#search-btn {
   border: 0;
   border-radius: 0 5px 5px 0;
   background-color: #3242af;
   color: white;
   width: 100px;
   height: 2.5rem;
   font-size: 1.2rem;
}

.search {
   width: 70vw;
   max-width: 450px;
   height: 2.5rem;
   font-size: 1.2rem;
}

#input-bar {
   border: 0;
   padding: 20px;
   border-radius: 5px 0 0 5px;
}

#search-container {
   position: absolute;
}

.suggestion{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}

.suggestion:hover {
   background-color: #eaeaea;
}

#weather-grid {
   width: 100vw;
   height: calc(100vh - 80px);
}

.card {
   text-align: start;
   vertical-align: top;
   display: inline-block;
   margin: 10px 20px;
   padding: 10px 40px;
   width: 300px; /* will be changed in cardStyling.js */
   height: 370px;
   background-color: white;
   background-size: cover;
   border-radius: 30px;
}

footer {
   width: 100vw;
   height: 50px;
}

@media only screen and (max-width: 1040px) {
   header {
      flex-direction: column;
      justify-content: center;
   }

   h1 {
      margin-bottom: 16px;
   }
 }